.homeContainer {
	width: 99vw;

	max-width: 1850px;
	display: flex;
	justify-content: center;
}
.LeftSection {
	flex: 1;
}
.RightSection {
	flex: 6;
	border-right: 1px solid gray;
}

/* .navbarSec {
	width: 98vw;
	max-width: 1850px;
	position: fixed;
	top: 0;
	z-index: 10;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	margin-bottom: 0.5rem;
	border-radius: 10px;
} */
/* .mainSection {
	width: 98vw;
	max-width: 1850px;
	display: flex;
	position: relative;
	top: 3rem;
	// left: 0; 
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	// margin: 0.5rem 0; 
} 
*/
/* .left_topic_Sec {
	height: 90vh;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	margin: 0.5rem 0;
	border-radius: 10px;
	flex: 1;
	min-width: 250px;
	width: 14.5%;
} */
/*

.right_panel_Sec {
	width: 81.5%;
	min-width: 700px;
	height: 200vh;
	*/
/* Temporary set at 200vh; should change to % or auto */
/*
	position: absolute;
	left: 17.5%;
	box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	-moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.83);
	margin: 0.5rem;
	border-radius: 10px;
	flex: 5;
}

*/
