.container {
	width: 100vw;
	max-width: 1800px;
	height: 100vh;
	display: flex;

	overflow: hidden;
	position: relative;
}

.leftBoxContainer,
.rightBoxContainer {
	flex: 1;
	display: flex;
	justify-content: center;
}

.leftBox {
	width: 30vw;
	height: 30vw;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 14%,
		rgba(0, 212, 255, 1) 100%
	);
	border-radius: 50px;
	transform: rotate(-30deg);
	position: absolute;
	left: -15%;
	bottom: -10%;
}

.rightBox {
	width: 30vw;
	height: 30vw;
	background: rgb(0, 212, 255);
	background: linear-gradient(
		25deg,
		rgba(0, 212, 255, 1) 0%,
		rgba(85, 85, 221, 1) 44%,
		rgba(0, 0, 0, 1) 100%
	);

	border-radius: 50px;
	transform: rotate(30deg);
	position: absolute;
	right: -20%;
	top: -60px;
}
.centerSec {
	flex: 1.5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div.centerSec > * {
	margin: 3rem;
}

.centerSec > h1 {
	margin-bottom: 4rem;
	font-size: 3rem;
	font-weight: 400;
	color: rgb(79, 84, 84);
}
.rightBoxContainer {
	flex: 1;
}
