.containerBackground {
	background-image: url('./../images/logOut_Background.jpg');

	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		10deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 14%,
		rgb(16, 161, 189) 100%
	);
	width: 100vw;
	max-width: 1800px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
}

.backgroundImg {
	/* background-image: url('./../images/logOut_Background.jpg');

	width: 90vw;
	height: 90vh;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 7%;
	display: flex;
	justify-content: center;
	align-items: center; */
}
.innerContainer {
	width: 50vw;
	height: 50vh;
	background: rgb(2, 0, 36);
	background: radial-gradient(
		/* -45deg, */ circle,
		rgb(33, 32, 92) 0%,
		rgba(9, 9, 121, 1) 28%,
		rgb(17, 65, 74) 130%
	);
	display: flex;
	justify-content: space-evenly;
	border-radius: 25px;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
	/* opacity: 0.5; */
}
.innerContainer > h1 {
	color: #ffffff;
	font-weight: 400;
	margin: 3rem 0;
}

.Login_button {
	width: 60vw;
	max-width: 150px;
	font-size: 1.2rem;
	padding: 0.5rem;
	border-radius: 10px;
}

.Login_button:hover {
	cursor: pointer;
	background-color: transparent;
	color: white;
	transition: all 0.5s ease;
}
