.leftSection_container {
	width: inherit;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.logo {
	font-size: 2rem;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1.5px solid rgb(39, 2, 2);
}

.upperContainer {
	/* background-color: rgb(245, 237, 247); */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	border-radius: 10px;
	height: 75vh;
}

.first_Sec,
.second_Sec,
.third_Sec {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.second_Sec > * {
	margin: 1rem 0;
}

.Dashboard,
.Partner_Agencies,
.Candidates,
.Applications,
.Support {
	display: flex;
	align-items: center;
}
.Dashboard,
.Partner_Agencies,
.Candidates,
.Applications,
.Support {
	/* padding: 0 1rem; */
}

.iconImage {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1rem;
}

.iconTitle {
	font-size: 1.2rem;
}

.lowerContainer {
	display: flex;
	width: 100%;
	/* height: 10%; */
	/* border-radius: 10px; */
}
.VersionStaticInfo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	/* height: 15vh; */
	/* background-color: rgb(245, 237, 247); */
	/* border-radius: 10px; */
	border: none;
	margin-bottom: 0.5rem;
}
